@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BMI test Sitekit</h1>
    <p class="lead">Ginés Molina Abril</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Claims</h2>
        <p>
            Here you can find the values that are returned in the authentication. Only accessible to "gooduser" users. I tried to manage it through WebAPI but the way I thought, I needed to know the Client_secret.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Upload_file</h2>
        <p>You can update the data.json file that counts the weights and heights in JSON objects. Here it has been valued to be able to update this file in Entity Framework with the new data that is incorporated and thus to release the rise but it has been simplified.</p>
    </div>
    <div class="col-md-4">
        <h2>Category</h2>
        <p>In this section you can check the BMI, check the category to which the user belongs and check according to the data file, how many people belong to that category in addition to the percentile.</p>
    </div>
</div>